apache-airflow==2.10.5
apache-airflow-providers-common-sql==1.24.0
apache-airflow-providers-postgres==6.1.1
bs4==0.0.1
html5lib==1.1
joblib==1.2.0
keras==2.10.0
lxml_html_clean==0.4.1
numpy==1.22.4
matplotlib==3.7.0
openpyxl==3.1.2
pandas==2.0.3
psycopg2-binary==2.9.9
requests==2.32.3
requests-html==0.10.0
scikit-learn==1.2.1
selenium==4.11.2
tensorflow==2.10.1
tensorflow-text==2.10.0
tf-keras
xlsx2csv==0.8.4